.home_bottom {
  background: url(../images/navnew11.png) no-repeat 50% 0;
  left: 0;
  top: auto;
  height: 0.87rem;
  width: 100%;
  bottom: 0;
  background-size: 100% auto;
  font-size: 0;
  z-index: 10;
  position: fixed;
}
.home_bottom .currentL {
  background: url(../images/navnew2.png) no-repeat 50% 0;
  background-size: 400% auto;
}
.home_bottom nav {
  height: 100%;
}
.home_bottom nav a {
  width: 25%;
  height: 0.87rem;
  float: left;
}
.home_bottom nav a span {
  width: 100%;
  text-indent: -9999px;
  overflow: hidden;
  height: 100%;
  display: inline-block;
}
.home_bottom nav a:nth-child(1).currentL {
  background-position: 0 50%;
}
.home_bottom nav a:nth-child(2).currentL {
  background-position: 33.5% 49%;
}
.home_bottom nav a:nth-child(3).currentL {
  background-position: 67% 49%;
}
.home_bottom nav a:nth-child(4).currentL {
  background-position: 100% 49%;
}
.bottomDV {
  height: 0.87rem;
}
